<div class="bg-white rounded-md flex flex-col">
    <div>
        <a href="{{ product.url }}" class="block">
            <picture>
                <source srcset="{{ product.featured_image | image_url: width: 364, height: 364 }}" media="(min-width:1536px)" />
                <source srcset="{{ product.featured_image | image_url: width: 300, height: 300 }}" media="(min-width:1280px)" />
                <source srcset="{{ product.featured_image | image_url: width: 320, height: 320 }}" media="(min-width:1024px)" />
                <source srcset="{{ product.featured_image | image_url: width: 356, height: 356 }}" media="(min-width:768px)" />
                <source srcset="{{ product.featured_image | image_url: width: 292, height: 292 }}" media="(min-width:640px)" />
                <source srcset="{{ product.featured_image | image_url: width: 628, height: 628 }}" media="(min-width:0px)" />
                <img src="{{ product.featured_image | image_url: width: 628, height: 628 }}" height="200" width="200" loading="lazy" class="w-full h-auto object-cover rounded-t-md" />
            </picture>
        </a>
    </div>
    <div class="h-full container flex flex-col justify-between pt-3 pb-5">
        <div>
            <a href="{{ product.url }}" class="block">
                <span class="text-lg tracking-tight 1">{{ product.title }}</span>
            </a>
        </div>
        <div>
            <div product-id="{{ product.id }}" class="arv-collection arv-collection--{{ product.id }} mt-2"></div>
            <div class="mt-1">
                <a href="{{ product.url }}" class="block">
                    {% unless product.has_only_default_variant %}
                        <span class="text-sm mr-1">From </span>
                    {% endunless %}
                    <span class="font-semibold text-lg tracking-wide">{{ product.price | money_with_currency }}</span>
                </a>
            </div>
            <div>
                {% render 'product-add-button',
                    product: product,
                    type: 'product-card',
                    btn_class: 'mt-4 w-full bg-sky-500 text-white py-2 rounded-md text-center select-none hover:bg-sky-400 active:bg-sky-600 disabled:opacity-75 disabled:bg-sky-800',
                    error_class: 'mx-auto h-6 w-6 text-white',
                    success_class: 'mx-auto h-6 w-6 text-white',
                    loading_class: 'animate-spin mx-auto h-6 w-6 text-white',
                    out_of_stock_class: 'mt-4 w-full text-white py-2 rounded-md text-center select-none opacity-75 bg-sky-800'
                %}
            </div>
        </div>
    </div>
</div>
{% render 'product.section.info',
    product: product
%}