<div data-recommended-content>
    {%- if recommendations.performed? and recommendations.products_count > 0 -%}
        <div class="glide-recommended relative">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for product in recommendations.products %}
                        <li class="glide__slide">
                            <a href="{{ product.url }}" title="{{ product.title }}" class="block">
                                {% render 'product.section.info',
                                    product: product
                                %}
                                <div>
                                    <picture>
                                        <source srcset="{{ product.featured_image | image_url: width: 720, height: 720 }}" media="(min-width:1536px)" />
                                        <source srcset="{{ product.featured_image | image_url: width: 580, height: 580 }}" media="(min-width:1280px)" />
                                        <source srcset="{{ product.featured_image | image_url: width: 476, height: 476 }}" media="(min-width:1024px)" />
                                        <source srcset="{{ product.featured_image | image_url: width: 724, height: 724 }}" media="(min-width:768px)" />
                                        <source srcset="{{ product.featured_image | image_url: width: 596, height: 596 }}" media="(min-width:640px)" />
                                        <source srcset="{{ product.featured_image | image_url: width: 628, height: 628 }}" media="(min-width:0px)" />
                                        <img src="{{ product.featured_image | image_url: width: 628, height: 628 }}" height="200" width="200" loading="lazy" class="w-full h-auto object-cover rounded-md" />
                                    </picture>
                                </div>
                                <div class="px-1">
                                    <div class="mt-2 min-h-[3.5rem]">
                                        <span class="text-lg tracking-tight 2">{{ product.title }}</span>
                                    </div>
                                    <div product-id="{{ product.id }}" class="arv-collection arv-collection--{{ product.id }} mt-2"></div>
                                    <div class="mt-0.5">
                                        {% if product.compare_at_price != blank and product.compare_at_price > product.price %}
                                            <div class="line-through decoration-from-font text-gray-400">
                                                {% unless product.has_only_default_variant %}
                                                    <span class="text-xs mr-1">From </span>
                                                {% endunless %}
                                                <span class="font-semibold tracking-wide">{{ product.compare_at_price | money_with_currency }}</span>
                                            </div>
                                        {% endif %}
                                        <div class="flex items-center">
                                            {% unless product.has_only_default_variant %}
                                                <span class="mr-1">From </span>
                                            {% endunless %}
                                            <span class="font-semibold text-lg tracking-wide">{{ product.price | money_with_currency }}</span>
                                            {% if product.compare_at_price != blank and product.compare_at_price > product.price %}
                                                <span class="ml-2 leading-none h-fit w-fit py-1 px-2 text-green-800 bg-green-400 rounded-md text-xs">Save {{ product.price | minus: product.compare_at_price | money_with_currency }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% if product.variants.size > 1 %}
                                <button type="button" class="mt-4 bg-sky-500 text-white font-semibold py-2 rounded-md text-center select-none hover:bg-sky-400 active:bg-sky-600 disabled:opacity-75">See options</button>
                            {% else %}
                                {% render 'product-add-button',
                                    product: product,
                                    type: 'product-card',
                                    btn_class: 'mt-4 w-full bg-sky-500 text-white py-2 rounded-md text-center select-none hover:bg-sky-400 active:bg-sky-600 disabled:opacity-75 disabled:bg-sky-800',
                                    error_class: 'mx-auto h-6 w-6 text-white',
                                    success_class: 'mx-auto h-6 w-6 text-white',
                                    loading_class: 'animate-spin mx-auto h-6 w-6 text-white',
                                    out_of_stock_class: 'mt-4 w-full text-white py-2 rounded-md text-center select-none opacity-75 bg-sky-800'
                                %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="absolute top-1/2 -translate-y-1/2 -ml-6">
                <div data-glide-el="controls">
                    <div role="button" data-glide-dir="<" class="h-14 w-14 flex items-center justify-center bg-sky-500 rounded-full select-none hover:bg-sky-400 active:bg-sky-600">
                        <div>{% render 'icon-prev', class: 'h-10 w-10 text-white fill-white' %}</div>
                    </div>
                </div>
            </div>
            <div class="absolute top-1/2 right-0 -translate-y-1/2 -mr-6">
                <div data-glide-el="controls">
                    <div role="button" data-glide-dir=">" class="h-14 w-14 flex items-center justify-center bg-sky-500 rounded-full select-none hover:bg-sky-400 active:bg-sky-600">
                        <div>{% render 'icon-next', class: 'h-10 w-10 text-white fill-white' %}</div>
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}
</div>