<div class="container pt-8 pb-12 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-12 xl:gap-24">
        <div>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for image in product.images %}
                            <li class="glide__slide">
                                <div class="relative">
                                    <picture>
                                        <source srcset="{{ image | image_url: width: 720, height: 720 }}" media="(min-width:1536px)" />
                                        <source srcset="{{ image | image_url: width: 580, height: 580 }}" media="(min-width:1280px)" />
                                        <source srcset="{{ image | image_url: width: 476, height: 476 }}" media="(min-width:1024px)" />
                                        <source srcset="{{ image | image_url: width: 724, height: 724 }}" media="(min-width:768px)" />
                                        <source srcset="{{ image | image_url: width: 596, height: 596 }}" media="(min-width:640px)" />
                                        <source srcset="{{ image | image_url: width: 628, height: 628 }}" media="(min-width:0px)" />
                                        <img src="{{ image | image_url: width: 628, height: 628 }}" height="200" width="200" loading="lazy" class="w-full h-auto object-cover rounded-md" />
                                    </picture>
                                    {% assign current_timestamp = 'now' | date: '%s' %}
                                    {% assign product_created_timestamp = product.created_at | date: '%s' %}
                                    {% assign time_elapsed_created = current_timestamp | minus: product_created_timestamp %}
                                    {% if time_elapsed_created <= 2592000 %}
                                        <div class="absolute top-4 right-4">
                                            <div class="bg-pink-300 text-white text-sm rounded-lg px-4 py-1">New</div>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="mt-4 grid grid-cols-6 gap-4" data-glide-el="controls">
                    {% for image in product.images %}
                        <div role="button" data-glide-dir="={{ forloop.index0 }}">
                            <picture>
                                <img src="{{ image | image_url: width: 120, height: 120 }}" height="120" width="120" loading="lazy" class="w-full h-auto object-cover rounded-md" />
                            </picture>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="h-full pt-6 lg:pt-2 xl:pt-24">
            <div class="container py-4 mx-auto">
                <div class="inline-flex gap-2">
                    {% for collection in product.collections %}
                        <div class="bg-pink-200 rounded-md px-2 py-1 text-sm font-semibold text-gray-700">{{ collection.title }}</div>
                    {% endfor %}
                    {% for tag in product.tags %}
                        <div class="bg-pink-200 rounded-md px-2 py-1 text-sm font-semibold text-gray-700">{{ tag }}</div>
                    {% endfor %}
                </div>
                <div class="text-4xl font-bold mt-4">{{ product.title }}</div>
                <a href="#section-product-reviews" class="block">
                    <div product-id="{{ product.id }}" class="arv-collection arv-collection--{{ product.id }} mt-2"></div>
                </a>
                <div class="mt-4 text-lg">{{ product.description | replace: '<ul>', '<ul class="ml-4 list-disc">' }}</div>
                <div class="mt-4">
                    {% render 'product.section.variant-selector' %}
                </div>
                <div class="mt-4">
                    <span class="font-medium">Availability:</span>
                    {% if product.available == true %}
                        {% assign product_availability_text = 'IN STOCK - Ships in 48hrs' %}
                        {% assign product_availability_class = ' bg-green-500' %}
                    {% else %}
                        {% assign product_availability_text = 'OUT OF STOCK' %}
                        {% assign product_availability_class = ' bg-red-500' %}
                    {% endif %}
                    <span class="ml-2 rounded-md px-2 py-1 text-sm text-white font-semibold {{ product_availability_class }}">{{ product_availability_text }}</span>
                </div>
                <div class="mt-4">
                    {% if product.compare_at_price != blank and product.compare_at_price > product.price %}
                        <div class="line-through decoration-from-font text-gray-400">
                            <span data-product-compare-price class="font-bold tracking-wide">{{ product.compare_at_price | money_with_currency }}</span>
                        </div>
                    {% endif %}
                    <div class="flex items-center">
                        <span data-product-display-price class="text-3xl font-bold">{{ product.selected_or_first_available_variant.price | money_with_currency }}</span>
                        {% if product.compare_at_price != blank and product.compare_at_price > product.price %}
                            <span data-product-display-compare-save-price class="ml-2 leading-none h-fit w-fit font-semibold py-1 px-2 text-green-800 bg-green-400 rounded-md text-xs"><span>Save</span> <span data-product-compare-save-price>{{ product.price | minus: product.compare_at_price | money_with_currency }}</span></span>
                        {% endif %}
                    </div>
                </div>
                <div class="w-full xl:w-1/2 flex flex-col gap-4">
                    {% render 'product-add-button',
                        product: product,
                        type: 'product-page',
                        btn_class: 'mt-8 w-full bg-sky-500 text-lg text-white py-4 sm:px-8 font-semibold rounded-md text-center select-none hover:bg-sky-400 active:bg-sky-600 disabled:opacity-75 disabled:bg-sky-800',
                        error_class: 'mx-auto h-7 w-7 text-white',
                        success_class: 'mx-auto h-7 w-7 text-white',
                        loading_class: 'animate-spin mx-auto h-7 w-7 text-white',
                        out_of_stock_class: 'mt-8 w-full text-lg text-white py-4 sm:px-8 rounded-md text-center select-none opacity-75 bg-sky-800'
                    %}
                    {% form 'product', product %}
                        {%- comment -%}
                            This value needs to be updated with the variant id so that the buy now button works
                        {%- endcomment -%}
                        <input
                            data-buy-now
                            type="hidden"
                            name="id"
                            value="{{ product.selected_or_first_available_variant.id }}"
                            disabled
                        >
                        {{ form | payment_button }}
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
    {% section 'product-size-guide' %}
    {% section 'product-showcase' %}
    {% section 'product-badge-list' %}
    <div class="mt-12" id="section-product-reviews">
        {% section 'alireviews-widget-473839' %}  
    </div>
    <div class="mt-12">
        <div class="text-4xl font-bold text-center mb-8">
            <span>You may also like</span>
        </div>
        <div data-recommended-state="default" data-url="{{ routes.product_recommendations_url }}?section_id={{ 'product-recommended' }}&product_id={{ product.id }}&limit=12&intent=related"></div>
        <div data-recommended-state="loading" class="hidden">{% render 'icon-loading', class: 'animate-spin mx-auto h-16 w-16 text-sky-500' %}</div>
    </div>
</div>
{% render 'product.section.info' %}